// Variables
$borderRadius: 10px;
$spacer: 1rem;
$primary: #406ff3;
$text: #6a778e;
$linkHeight: calc($spacer * 3.5);
$timing: 250ms;
$transition: all $timing ease;

// Mixin para animación gooey
@mixin gooeyEffect($i) {
  @keyframes gooeyEffect-#{$i} {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

// Fuente
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  background: #eaeef6;
  font-family: 'Open Sans', sans-serif;
}

// Navbar
.navbar {
  position: fixed;
  top: $spacer;
  left: $spacer;
  background: #fff;
  border-radius: $borderRadius;
  padding: $spacer 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - (#{$spacer} * 4));

  &__menu {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    &:last-child::before {
      content: '';
      position: absolute;
      opacity: 0;
      z-index: -1;
      top: 0;
      left: $spacer;
      width: $linkHeight;
      height: $linkHeight;
      background: $primary;
      border-radius: calc($borderRadius * 1.75);
      transition: all $timing cubic-bezier(1, 0.2, 0.1, 1.2);
    }

    // Loop para animaciones gooey
    @for $i from 1 through 12 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ li {
        &:hover {
          ~ li:last-child::before {
            opacity: 1;
          }
        }

        &:last-child:hover::before {
          opacity: 1;
        }

        @for $j from 1 through $i {
          &:nth-child(#{$j}):hover {
            ~ li:last-child::before {
              @include gooeyEffect($j);
              top: calc(100% / #{$i} * (#{$j} - 1));
              animation: unquote("gooeyEffect-#{$j} #{$timing} 1");
            }
          }
        }

        &:last-child:hover::before {
          @include gooeyEffect($i);
          top: calc(100% / #{$i} * (#{$i} - 1));
          animation: unquote("gooeyEffect-#{$i} #{$timing} 1");
        }
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $linkHeight;
    width: calc($spacer * 5.5);
    color: $text;
    transition: $transition;
    text-decoration: none;

    span {
      position: absolute;
      left: 100%;
      transform: translateX(calc(-1 * $spacer * 3));
      margin-left: 1rem;
      opacity: 0;
      pointer-events: none;
      color: $primary;
      background: #fff;
      padding: calc($spacer * 0.75);
      transition: $transition;
      border-radius: calc($borderRadius * 1.75);
      white-space: nowrap;
    }

    &:hover {
      color: #fff;

      span {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .navbar:not(:hover) &:focus {
      span {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
